api/node_modules
api/.env
client_secret_427040646906-rcandbmpgbc3038arplbifro4cdc5qu8.apps.googleusercontent.com.json
Screenshot 2025-08-01 125848.png
api/sample.json
README.md
client/node_modules
client/.env
a.txt
Screenshot 2025-09-05 145344.png
WhatsApp Image 2025-09-05 at 14.53.23_3fc02b8e.jpg